<%- model_class = ReceivedUpdate.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= simple_form_for :search, :url => application_received_updates_path(params[:application_id]),:method => 'GET', :html => { :class => 'form-inline' } do |f| %>
<table class="table table-striped">
  <tbody>
		<tr>
			<td><%= f.select :type, @update_types, :required => false, :include_blank => "Any" %></td>
  		<td><%= f.input :agency_id, :label => false,  :placeholder => "Agency id" , :required => false %></td>
    	<td><%= f.input :object_id , :label => false, :placeholder => "Object id", :required => false%></td>
			<td> <%= pluralize( @received_updates.count, "Update") %> </td>
    	<td><%= f.button :submit, "Filter", :class => 'btn-primary' %></td>
		</tr>
  </tbody>
</table>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:agency_id) %></th>
      <th><%= model_class.human_attribute_name(:obj_id) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
      <!--th><%=t '.actions', :default => t("helpers.actions") %></th-->
    </tr>
  </thead>
  <tbody>
    <% @received_updates.each do |received_update| %>
      <tr>
        <td><%= link_to received_update.name, application_received_update_path(received_update.application, received_update) %></td>
        <td><%= received_update.agency_id %></td>
        <td><%= received_update.obj_id %></td>
        <td><%= received_update.time %></td>
        <!--td>
          <% link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_application_received_update_path(received_update.application, received_update), :class => 'btn btn-mini' %>
          <% link_to t('.destroy', :default => t("helpers.links.destroy")),
                      application_received_update_path( received_update.application, received_update),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td-->
      </tr>
    <% end %>
  </tbody>
</table>

<% link_to t('.new', :default => t("helpers.links.new")),
            new_application_received_update_path(@application),
            :class => 'btn btn-primary' %>
